<!--END-->
<!--END-->
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->

{% load my_tags %}

<head>
    <title>Megano</title>
    {% include 'includes/header.html' %}
</head>

<body class="Site">
    <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
    <header class="Header">
        {% include 'includes/head_line.html' %}
        {% include 'includes/top-menu-and-logo.html' %}
        {% include 'includes/search-line.html' %}
    </header>
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">

                {% ordering_menu pointer=step %}

                <div class="Section-content">
                    <form method="post" class="form">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 2. Способ доставки</h2>
                        </header>

                        {% for row in form %}
                        <div class="form-group">
                            {% if forloop.counter == 1 %}
                                {% for i in row %}
                                    <div>
                                        <label class="toggle">
                                            {{ i.tag }}<span class="toggle-box"></span><span class="toggle-text">{{ i.choice_label }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <label class="form-label" for="{{ row.id_for_label }}">{{ row.label }}</label>
                                {{ row }}
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="Order-footer">
                            {% csrf_token %}
                            <button type="submit" class="btn btn_success">Дальше</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
    {% include 'includes/bottom_scripts.html' %}
</body>

</html>