{% load static %}
{% load my_tags %}


<div class="Header-searchWrap">
    <div class="wrap">

        <!--    Отображение меню категорий    -->
        {% head_categories active_categories %}

        <div class="Header-searchLink">
            <img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
            <div class="search">
                <form class="form form_search" action="#" method="post">
                    {% csrf_token %}
                    <input class="search-input" id="query" name="query" type="text"
                           placeholder="NVIDIA GeForce RTX 3060"/>
                    <button class="search-button" type="submit" name="search" id="search">
                        <img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Поиск
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>