<!--END-->
{% load static %}
<!--END-->
<!DOCTYPE html>

<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->

<head>
    <title>Login</title>
    {% include 'includes/header.html' %}
</head>

<body class="Site">
<!--if lt IE 8
p.error-browser
  | Ваш браузер&nbsp;
  em устарел!&nbsp;
  a(href="http://browsehappy.com/") Выберите новую версию
      +s
      | браузера здесь&nbsp;
  | для правильного отображения сайта.
-->
<main class="Middle" style="margin-top: 0px;">
    {% include 'includes/head_line.html' %}
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
                <a class="logo" href="{% url 'index' %}">
                    <img class="logo-image" src="{% static 'assets/img/logo.png' %}" alt="logo.png"/>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Вход</h3>
            </div>
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div style="color:red">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {% for field in form %}
                    <div>{{ field }}</div>
                {% endfor %}

                <div>
                    <input type="submit" value="Войти"/>
                </div>
                <a class="forgot-label" href="{% url 'user_app:password_first' %}">Забыли пароль?</a>
                <a class="registr" href="{% url 'index' %}#modal_open_register">Регистрация</a>
            </form>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}
<!--+Middle-->
<!--    +div.-top-->
<!--        +breadcrumbs('Главная','Портфолио')-->
<!--    +Article('portfolio')-->
<!---->
{% include 'includes/bottom_scripts.html' %}
</body>

</html>