<!--END-->
<!--END-->
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->
{% load static %}

<head>
    <title>Megano</title>
    {% include 'includes/header.html' %}
</head>

<body class="Site">
<!--if lt IE 8
p.error-browser
  | Ваш браузер&nbsp;
  em устарел!&nbsp;
  a(href="http://browsehappy.com/") Выберите новую версию
      +s
      | браузера здесь&nbsp;
  | для правильного отображения сайта.
-->
<header class="Header">
    {% include 'includes/head_line.html' %}
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
                <a class="logo" href="{% url 'index' %}">
                    <img class="logo-image" src="{% static 'assets/img/logo.png' %}" alt="logo.png"/></a>
            </div>
        </div>

        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Восстановление пароля (1/2)</h3>
                <h5 align="center">Введите свой email</h5>
            </div>

            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    <ul style="font-family: 'Roboto', sans-serif; padding: 0px">
                        {% for message in messages %}
                        <li style="color: red">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post">
                    {% for error in form.email.errors %}
                        <div style="color: red;">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ form.email }}
                    <input type="submit" value="Далее"/>
                </form>
            </form>
        </div>

    </div>

</header>
{% include 'includes/footer.html' %}
<!--+Middle-->
<!--    +div.-top-->
<!--        +breadcrumbs('Главная','Портфолио')-->
<!--    +Article('portfolio')-->
<!---->
{% include 'includes/bottom_scripts.html' %}
</body>
</html>